<head>
    <style>
        footer {height: 2cm;}
    </style>
</head>

<footer>
    <p1><small>Copyright © Bardia Koopah</small></p1>
    <p><small><!--MIT's accessibility <a href="https://accessibility.mit.edu" target="_blank">page</a><br/>-->Last updated on {{ now.Format "Jan 2, 2006" }}</small></p>
    <p><small>This guy makes a cool <a href="http://hyren.me/">website</a></small></p>
</footer>
</div>
<script src="{{ "js/scale.fix.js" | relURL }}"></script>
<script data-goatcounter="https://{{ .Site.Params.goatcounter }}.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
